<h1>New Appoint</h1>

<p>
  Hey <%= @client.name %>,
</p>
<p> 
  Your appointment is confirmed on <%= @appointment.date.to_date.to_s %> at <%= @appointment.time %>
  <br />
  Have a nice day!
</p>

<br />
Truly,
<br />
Team Robert
